/* ==============
  Form-elements
===================*/
@import "variables";

label {
  font-weight: 500;
}

.form-control {
  font-size: $font-size-default;
  &:focus {
    border-color: $primary;
    box-shadow: none;
  }
}

.form-control-sm {
  font-size: .875rem;
}

.custom-select-sm {
  font-size: 75%;
}

.custom-control-input:checked~.custom-control-indicator {
  background-color: $primary;
}

.custom-control-input:focus~.custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary;
  box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary;
}

.has-success {
  .form-control {
    border-color: $success;
    box-shadow: none;
  }
}

.has-warning {
  .form-control {
    border-color: $warning;
    box-shadow: none;
  }
}

.has-error {
  .form-control {
    border-color: $danger-100;
    box-shadow: none;
  }
}

.input-group-text{
  font-size: 14px;
}

fieldset{
    border: 1px solid $dark!important;
    padding: 5px!important;
    legend{
        width: auto!important;
        padding: 5px 5px 0!important;
        font-size: 16px!important;
    }
}

/* TABLES PRICE */
.tp-field-val-container{
    width: 110px!important;
    max-width: 110px!important;
    background: #ececec;

    .input-group-text {
        font-weight: 300;
        color: $dark;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    input{
        width: 90px!important;
        max-width: 90px!important;
        outline: none;
        text-align: right;
    }
}
