/* ==============
  Form EASY Wizard
===================*/
@import "variables";

.form-wizard {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: auto !important;
    margin: auto !important;

    .tab-pane{
        border-radius: .25em;
        border: 0.5px solid $gray-200;
        background: $gray-100;
        clear: both;
        padding: 1em 1em;
        margin-bottom: 20px;
        -webkit-transform: translateY(4px);
        -moz-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -o-transform: translateY(4px);
        transform: translateY(4px);
    }

    .nav-tabs {
        background-color: transparent;
        padding: 0;
        width: 100%;
        margin: 1em auto;
        border-radius: .25em;
        clear: both;
        border-bottom: none;

        li.nav-item {
            width: auto;
            float: none;
            margin-bottom: 3px;

            & > * {
                position: relative;
                padding: 1em .8em .8em 3em;
                color: $gray-200;
                background-color: $gray-400;
                border-color: $gray-400;
            }

            & > a {
                opacity: 1;
                font-size: $font-size-default;
                display: block;
                padding-top: 10px;
                text-transform: uppercase;

                &:hover {
                    color: $white;
                    background-color: $gray-700;
                    border-color: $gray-700
                }
            }

            &.completed > * {
                color: #fff !important;
                background-color: $success !important;
                border-color: $success !important;
                border-bottom: none !important;
            }

            &.active > * {
                color: $white;
                background-color: $gray-700;
                border-color: $gray-700;
                border-bottom: none;
            }

            &.error > *,
            &.active.error > * {
                color: $white !important;
                background-color: $danger-100 !important;
                border-color: $danger-100 !important;
                border-bottom: none !important;
            }

            &::after:last-child {
                border: none;
            }
        }

        span.number {
            display: inline-block;
            padding: 0;
            background: $white;
            width: 25px;
            line-height: inherit;
            height: 25px;
            margin: auto 10px auto auto;
            border-radius: 50%;
            font-weight: bold;
            font-size: 18px;
            color: $dark;
            text-align: center;
        }

        @media(min-width: 992px) {
            li.nav-item {
                position: relative;
                margin: 4px 4px 4px 0;
                width: auto;
                float: left;

                &::after,
                & > *::after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 0;
                    height: 0;
                    width: 0;
                    border: 22.5px solid transparent;
                    border-right-width: 0;
                    /*border-left-width: 20px*/
                }

                &::after {
                    z-index: 1;
                    -webkit-transform: translateX(4px);
                    -moz-transform: translateX(4px);
                    -ms-transform: translateX(4px);
                    -o-transform: translateX(4px);
                    transform: translateX(4px);
                    border-left-color: $white;
                    margin: 0
                }

                & > *::after {
                    z-index: 2;
                    border-left-color: inherit
                }

                &:nth-of-type(1) > a {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                &:last-child a {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:last-child a:after,
                &:last-child:after {
                    content: "";
                    border: none;
                }
            }
        }
        /* end - @media(min-width:992px) */

        @media(max-width: 890px) {
            border-radius: .05em;
            li.nav-item {
                & > a {
                    padding-left: 10px!important;
                }
            }
        }
        @media(max-width: 600px) {
            border-radius: 0;
            width: 100%;
            li.nav-item {
                & > a {
                    padding-left: 10px!important;
                }
            }
        }
    }
}
