@import 'variables';

/* ==============
  Form-Validation
===================*/

.error {
  color: #ff0000;
    font-weight: lighter;
}

.parsley-error {
  border-color: $danger-100;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: $danger-100;
  margin-top: 5px;
}

/* MY JQUERY VALIDATION ERROR */
.container-errors {
    display: none;
    margin-bottom: 2px!important;
    transition: all ease-in-out 0.35s;

    .list-errors {
        padding-left: 5px;
        margin-bottom: 0!important;
        list-style: decimal-leading-zero;
        .error{
            display: block;
            float: none !important;
            margin: 0 !important;
            width: auto !important;
            color: $white !important;
            padding: 0 !important;
            font-weight: lighter;
            &:not(:empty)::before{
                @include get-icon($font-icon-material-design, "\F026");
            }
            &:empty{
                content: '';
            }
        }
    }
}
