/* ==============
  General
===================*/
@import "variables";

body {
    background-repeat: repeat;
    background: $bg-body;
    font-family: $font-family;
    color: #5b626b;
    font-size: $font-size-default;
}

html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: $font-family-secondary;
    font-weight: 600;
}

p {
    line-height: 1.7;
}

svg {
    max-width: 100%;
}

a {
    color: $gray-600;

    &:hover {
        outline: 0;
        text-decoration: none;
    }

    &:active {
        outline: 0;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
        text-decoration: none;
    }
}

b, strong {
    font-weight: 500;
}

.container-alt {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#app {
    height: $height;
    overflow: hidden;
    width: $width;
}

// Slimscroll
.slimScrollDiv {
    height: auto !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary;
}

/* Social */
.social-links {
    li {
        a {
            border-radius: 50%;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            width: 30px;
            text-align: center;
        }
    }
}

/* LOAD BADGE */
.load-badge {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;

    &:before {
        content: '';
        background: rgba($dark, 0.5) !important;
        display: block;
        width: 100%;
        height: 100%;
        background: #2a314280;
        position: absolute;
        z-index: 99999 !important;
        margin: 0;
        left: 0;
        top: 0;
    }

    span {
        width: 55px !important;
        height: 55px !important;
        background: #2a3142 !important;
        color: #ffffff !important;
        border: 1px solid #2a3142 !important;
        border-radius: 55px !important;
        position: absolute;
        z-index: 99999;
        left: 50%;
        top: 50%;
        margin-left: -27px;
        margin-top: -27px;
        &>i{
            margin: 12px;
        }
    }
}
