/* ==============
  Helper Classes
===================*/
.p-0 { padding: 0 !important;}

.p-l-0 {padding-left: 0 !important;}
.p-l-1 {padding-left: 1px !important;}
.p-l-2 {padding-left: 2px !important;}
.p-l-3 {padding-left: 3px !important;}
.p-l-4 {padding-left: 4px !important;}
.p-l-5 {padding-left: 5px !important;}
.p-l-10 {padding-left: 10px !important;}
.p-l-15 {padding-left: 15px !important;}
.p-l-20 {padding-left: 20px !important;}
.p-l-25 {padding-left: 25px !important;}
.p-l-30 {padding-left: 30px !important;}

.p-t-0 {padding-top: 0 !important;}
.p-t-10 {padding-top: 10px !important;}
.p-t-15 {padding-top: 15px !important;}
.p-t-20 {padding-top: 20px !important;}
.p-t-25 {padding-top: 25px !important;}
.p-t-30 {padding-top: 30px !important;}

.p-r-0 {padding-right: 0 !important;}
.p-r-1 {padding-right: 1px !important;}
.p-r-2 {padding-right: 2px !important;}
.p-r-3 {padding-right: 3px !important;}
.p-r-4 {padding-right: 4px !important;}
.p-r-5 {padding-right: 5px !important;}
.p-r-10 {padding-right: 10px !important;}
.p-r-15 {padding-right: 15px !important;}
.p-r-20 {padding-right: 20px !important;}
.p-r-25 {padding-right: 25px !important;}
.p-r-30 {padding-right: 30px !important;}


.p-b-0 {padding-bottom: 0 !important;}
.p-b-10 {padding-bottom: 10px !important;}
.p-b-15 {padding-bottom: 15px !important;}
.p-b-20 {padding-bottom: 20px !important;}
.p-b-25 {padding-bottom: 25px !important;}
.p-b-30 {padding-bottom: 30px !important;}

.m-0 {margin: 0 !important;}
.m-r-5 {margin-right: 5px !important;}
.m-r-10 {margin-right: 10px !important;}
.m-r-15 { margin-right: 15px !important;}

.m-l-5 { margin-left: 5px !important;}
.m-l-10 { margin-left: 10px !important;}
.m-l-15 { margin-left: 15px !important;}
.m-l-20 { margin-left: 20px !important;}
.m-l-25 { margin-left: 25px !important;}
.m-l-30 { margin-left: 30px !important;}
.m-l-35 { margin-left: 35px !important;}

.m-t-5 { margin-top: 5px !important;}
.m-t-10 { margin-top: 10px !important;}
.m-t-15 { margin-top: 15px !important;}
.m-t-20 { margin-top: 20px !important;}
.m-t-30 { margin-top: 30px !important;}
.m-t-40 { margin-top: 40px !important;}

.m-b-5 { margin-bottom: 5px !important;}
.m-b-10 { margin-bottom: 10px !important;}
.m-b-15 { margin-bottom: 15px !important;}
.m-b-20 { margin-bottom: 20px !important;}
.m-b-30 { margin-bottom: 30px !important;}

.w-30 { max-width: 30px !important;}
.w-xs { min-width: 80px !important;}
.w-sm { min-width: 95px !important;}
.w-md { min-width: 110px !important;}
.w-lg { min-width: 140px !important;}

.l-h-23 { line-height: 23px !important;}
.l-h-34 { line-height: 34px !important;}

.font-10 { font-size: 10px !important; font-weight: lighter;}
.font-11 { font-size: 11px !important; font-weight: lighter;}
.font-12 { font-size: 12px !important; font-weight: lighter;}
.font-14 { font-size: 14px !important;}
.font-16 { font-size: 16px !important;}
.font-18 { font-size: 18px !important;}
.font-20 { font-size: 20px !important;}
.font-24 { font-size: 24px !important;}
.font-30 { font-size: 30px !important;}
.font-500 { font-weight: 500 !important;}
.font-600 { font-weight: 600 !important;}

.thumb-sm { height: 32px !important; width: 32px !important;}
.thumb-md { height: 48px !important; width: 48px !important;}
.thumb-lg { height: 88px !important; width: 88px !important;}


.header-title { font-size: 16px !important;}

.min-h-10 {min-height: 10px !important;}
.min-h-20 {min-height: 20px !important;}
.min-h-30 {min-height: 30px !important;}
.min-h-40 {min-height: 40px !important;}
.min-h-50 {min-height: 50px !important;}
.min-h-60 {min-height: 60px !important;}
.min-h-70 {min-height: 70px !important;}
.min-h-80 {min-height: 80px !important;}
.min-h-90 {min-height: 90px !important;}
.min-h-100 {min-height: 100px !important;}
.min-h-120 {min-height: 120px !important;}
.min-h-140 {min-height: 140px !important;}
.min-h-160 {min-height: 160px !important;}
.min-h-180 {min-height: 180px !important;}
.min-h-200 {min-height: 200px !important;}
.min-h-220 {min-height: 220px !important;}
.min-h-240 {min-height: 240px !important;}
