@import "variables";
.nav.nav-tabs-custom {
    &.nav-dark{
        .nav-item > a {
            transition: all 0.2s ease-in-out;
            &.active,
            &.active:hover{
                background-color: $dark!important;
                color: rgba($white, 0.7)!important;
            }

            &:hover{
                background-color: $secondary !important;
                color: $dark!important;
            }
        }
    }
}

.nav.nav-dark-vertical{
    .nav-link{
        transition: all 0.2s ease-in-out;
        padding: 5px 7px;
        &.active,
        &.active:hover{
            background: $dark!important;
            color: rgba($white, 0.7)!important;
            &.i{
                color: $white;
            }
        }
    }
}
