@import "variables";
//#028b81]

.box-action {
    color: $dark;
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px $gray-500 solid;
    margin-bottom: 5px;

    label{
        width: 100%!important;
        cursor: pointer;
        &:hover{
            color: $gray-700;
        }
    }

    .checked {
        color: #FFFFFF;
        background-color: $success;
        border-color: $success;
    }
}
