/* ==============
  Session Timeout
===================*/
#session-timeout-dialog {
  .modal-title {
    margin-top: 0;
  }
  .close {
    display: none;
  }
  .btn-default {
    background-color: $white;
    color: $danger-100;
  }
  .countdown-holder {
    color: $danger-100;
    font-weight: 500;
  }
}
