$font-icon-material-design: normal normal normal 24px/1 "Material Design Icons";

// Body
$body-bg: #f8fafc;

// Color variables
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$white: #ffffff;

$primary: #626ed4;
$success: #02a499;
$info: #38a4f8;
$warning: #f8b425;

$dark: #2a3142;
$muted: #9ca8b3;

$danger-100: #ec4561;
$danger-200: #ec2b3e;
$danger-300: #ec192a;

// Gray Colors
$gray-100:                  #f8f9fa;
$gray-200:                  #e9ecef;
$gray-300:                  #dee2e6;
$gray-400:                  #ced4da;
$gray-500:                  #adb5bd;
$gray-600:                  #6c757d;
$gray-700:                  #495057;
$gray-800:                  #343a40;
$gray-900:                  #212529;

$bg-body: #f8f8fa;
$left-bar: #333547;
$topbar-background: #ececf1;
$topbar-search-background: #e0e0ea;
$footer-background: #f1f2f5;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family: 'Roboto', 'Nunito', sans-serif;
$font-family-secondary: 'Sarabun', sans-serif;

$shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);

$font-size-default: 14px;
$font-size-small: 12px;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

$leftbar-menu-color: #8699ad;
$leftbar-menu-hover-color: #b4c9de;
$leftbar-menu-hover-bg-color: #474a63;
$leftbar-menu-active-color: #ffffff;
$leftbar-menu-active-bg-color: #191b2e;

@mixin get-icon($font-icon, $icon, $margin-right: 10px) {
    content: $icon;
    font: $font-icon;
    display: inline-block;
    font-size: 1.2em;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    margin-right: $margin-right;
}
