<template>
    <table class="table is-bordered data-table">
        <thead>
        <tr>
            <th v-for="column in columns" :key="column.name" @click="$emit('sort', column.name)"
                :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                :style="'width:'+column.width+';'+'cursor:pointer;'">
                {{column.label}}
            </th>
        </tr>
        </thead>
        <slot></slot>
    </table>
</template>

<script>
    // https://www.youtube.com/watch?v=zF0Xeigy-gc
    export default {
        name: 'Datatable',
        props: ['columns', 'sortKey', 'sortOrders']
    }
</script>
